<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <p>Checkify</p>
    <p>checkify basically helps you to keep track of what you are learning</p>
    <p>
        <a href="{% url 'tasks:index' %}">Checkify</a> 
        <a href="{% url 'tasks:topics' %}">Tasks</a>
        <a href="{% url 'forum:questions' %}">Questions</a>
            {% if user.is_authenticated %} 
            Hello, {{ user.username }}. 
            <a href="{% url 'users:logout' %}">log out</a>
            {% else %}
        <a href="{% url 'users:login' %}">log in</a>
        <a href="{% url 'users:register' %}">register</a>
            {% endif %}
    </p>
{% block content %} 

{% endblock content %}
</body>

</html>